In [1]:
import os
import sys

# 设置为项目根目录（包含 data, pipline 等文件夹的目录）
project_root = os.path.abspath("..")
os.chdir(project_root)
sys.path.append(project_root)


from pipline.pipline import pipeline_house_data
from model.train_model import train_model
from model.evaluate import evaluate_model
from utils.config import KEYWORDS
import pandas as pd

df = pd.read_csv("data/house_prices.csv")
df_cleaned = pipeline_house_data(df, keywords=KEYWORDS)

#model, X_test, y_test = train_model(df_cleaned)
#evaluate_model(model, X_test, y_test)

,Index,Price (in rupees),Carpet Area,Status,Transaction,Furnishing,Balcony,is_prime_location,has_proximity,is_well_planned,...,is_ground,is_basement,relative_height,col_facing_score,col_overlooking_score,society_level,col_Bathroom_score,col_car_parking_score,ownership_score,Amount_clean
0,0,6000.0,500.0,Ready to Move,Resale,Unfurnished,2,0,0,0,...,0,0,0.909091,-1,-1,0,1.0,0,3,4200000.0
1,1,13799.0,473.0,Ready to Move,Resale,Semi-Furnished,NaN,0,1,0,...,0,0,0.136364,4,1,0,2.0,1,3,9800000.0
2,2,17500.0,779.0,Ready to Move,Resale,Unfurnished,NaN,1,1,0,...,0,0,0.344828,4,1,0,2.0,2,3,14000000.0
3,3,NaN,530.0,Ready to Move,Resale,Unfurnished,1,0,0,0,...,0,0,0.333333,-1,-1,0,1.0,0,3,2500000.0
4,4,18824.0,635.0,Ready to Move,Resale,Unfurnished,NaN,0,0,0,...,0,0,0.476190,1,0,0,2.0,2,1,16000000.0